{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('reseptit_set_cooktime', resepti_id=resepti_id) }}">
<table>
    <tr>
        <td>{{ form.resepti.nimi.label }}</td>
        <td>
            {{ form.resepti.nimi }}
        </td>
        <td>
            <ul>
                {% for error in form.resepti.name.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            {{ form.resepti.cooktime.label }} minuuteissa
        </td>
        <td>
            {{ form.resepti.cooktime }}
        </td>
        <td>
            <ul>
                {% for error in form.resepti.cooktime.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            {{ form.resepti.ohje.label }}
        </td>
        <td>
            {{ form.resepti.ohje }}
        </td>
        <td>
            <ul>
                {% for error in form.resepti.ohje.errors %}
                <li>{{ errors }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            Ainesosat
        </td>
        <div id ="aineet_div">
            {% for el in form.aineet %}
                <tr>
                    <td>
                        {{ el.label }}
                    </td>
                    <td>
                        {{ el() }}
                    </td>
                </tr>
            {% endfor %}
        </div>
    </tr>
    {% if form.aineet.errors %}
    <tr>
        <ul class = errors>
            {% for error in form.aineet.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </tr>
    {% endif %}
    <tr>
        <td colspan="2">
            <input type="submit" value="Edit recipe"/>
        </td>
    </tr>
</table>
</form>

{% endblock %}