{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <div>
                Reseptit ja kunkin reseptin ainesosien määrä
            </div>
            {% for el in ainesosaCount %}
            <div>
                {{ el.name }} {{ el.amount }}
            </div>
            {% endfor %}
        </tr>
        <tr>
            <th>Resepti</th>
        </tr>
        {% for resepti in reseptit %}
        <tr>
            <td>{{ resepti.name }}</td>
                <td>
                    <form method="POST" action="{{ url_for('reseptit_set_cooktime', resepti_id=resepti.id) }}">
                        <input type="text" name="name">
                        <input type="submit" value="Change name"/>
                    </form>
                </td>
                <td>
                   <a href="{{ url_for('reseptit_set_cooktime', resepti_id= resepti.id) }}">Katso reseptiä {{ resepti.name }}</a>
                </td>
                <td>
                    <a href="{{ url_for('delete_resepti', resepti_id= resepti.id)}}"> Delete</a>
                </td>
                <td>
                    <a href="{{ url_for('resepti_edit', resepti_id= resepti.id) }}">  Edit</a>
                </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}