{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th>Resepti</th>
        </tr>
        {% for resepti in reseptit %}
        <tr>
            <td>{{ resepti.name }}</td>
                <td>
                    <form method="POST" action="{{ url_for('reseptit_set_cooktime', resepti_id=resepti.id) }}">
                        <input type="text" name="name">
                        <input type="submit" value="Change name"/>
                    </form>
                </td>
                <td>
                   <a href="{{ url_for('reseptit_set_cooktime', resepti_id= resepti.id) }}">{{ resepti.name }}</a>
                </td>
                <td>
                    <a href="{{ url_for('delete_resepti', resepti_id= resepti.id)}}">DELETE</a>
                </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}