{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('reseptit_create') }}">   
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.cooktime.label }}
            </td>
            <td>
                {{ form.cooktime }}
            </td>
            <td>
                <ul>
                    {% for error in form.cooktime.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <div class="form-group input-group">
                {% for el in aineet %}
                    {% for field in el %}
                        {{ field() }}
                    {% endfor %}
                {% endfor %}
            </div>            
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="New recipe"/>
            </td>
        </tr>
    </table>   
</form>
{% endblock %}