{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <h2>{{ resepti.name }}</h2>
        </tr>    
        <tr>
            <td>Keittoaika: {{ resepti.cooktime }}</td>
        </tr>
        <tr>
            <h4>Ainesosat</h4>
            {% for ainesosa in ainesosat %}
            <p>{{ ainesosa.name }} määrä: {{ ainesosa.amount }}</p>

            {% endfor %}
        </tr>
        <tr>
            <h2>Ohjeet</h2>
        </tr>
        <ul>
            {% for el in ohje %}
            <li>{{ el }}</li>
        </ul>
        {% endfor %}
    </table>
{% endblock %}